experiments/
startBatches/
simulations/
simulations_3
simulations_with_leadership_1/
simulations_with_leadership_exponential/
simulations_4/
simulations_with_leadership_normal/
simulations_with_leadership_exponential_2/
simulations_with_leadership_egalitarian/
